* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;;
}


body{
    background-color:#39a0ca;
    height: 100vh;
    color: black;
}

main {
    display: flex;
}

.enter-username-container{
    display:flex;
    justify-content: center;
    align-items: center;  
    padding: 30px;
}


.title-container{
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 5px;  
}

.platforms{
    background-color: #ddd;
    border: solid;
    border-color: aliceblue;
    color: rgb(31, 31, 31);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    box-shadow: 1px 2px 5px 1px;
    
}

#title-container{
    display: flex;
    padding: 20px;
    width:50%;
}
#title{
    width: 672px;
    height: 77px;
    left: 48px;
    top: 31px;
    font-style:normal;
    text-decoration: underline;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
}

.goal-input-container{
    width:100%;
    display: grid;
}

.options-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
}

.category{
    background-color: red;
    padding: 15px;
    border-radius:20px;
    width:100%;
    
}

#button-container{
    display:inline-block;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 10px;
    background-color: aliceblue;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    padding:0px;
    margin: 5px;

}

.button-group{
    display:inline-flex;
    flex-direction: column;
    width: 95%;
}

button:hover{
    background-color: rgb(110, 110, 235)
}

button.active{
    background-color: rgb(37, 69, 253);
    
}

.user-goal-input{
    position: absolute;
    width: 701px;
    height: 235px;
    left: 151px;
    top: 243px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}


.widget{
    background-color: white;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    width: 250px;
    height: 250px;
    bottom: 8px;
    padding: .5rem;
}

#test_widget {
    width: 100%;
    flex: 1;
    display: flex;
    gap: 1rem;
    flex-direction: row;
}

.submit-container{
    justify-content: center;
    text-align: center;
}

.submit{
    justify-content: center;
    background-color: #ddd;
    border: solid;
    border-color: aliceblue;
    color: rgb(31, 31, 31);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    box-shadow: 1px 2px 5px 1px;
}

.modal-content{
    border-radius: 16px;
    color:white;
    background-color: rgb(28, 93, 93);
    padding: 2rem;

}

.hide{
    display: none;
}