* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;;
}

html {
    background-color:#39a0ca;
}

body{
    display: flex;
    flex-direction: column;
    background-color:#39a0ca;
    color: black;
    padding: 1rem;
}


form {
    display: flex;
    flex-direction: column;
}

nav {
    position: absolute;
    right: 1rem;
}

#div_extra_wrap_wrap{
    display: flex;
    justify-content: center;
}

#goals_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    font-weight: bolder;
    margin-bottom: 20px;
    background-color: orange;
    width: fit-content;
    height: fit-content;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border-radius: 16px;
    box-shadow: 1px 2px 5px 1px;

}

.enter-username-container h1 {
    font-size: xx-large;
    margin-bottom: 20px; 
  }

.enter_btn{
    justify-content: center;
    background-color: #ddd;
    border: solid;
    border-color: aliceblue;
    color: rgb(31, 31, 31);
    font-weight: bolder;
    padding-top: 0px;
    padding-right: 4px;
    padding-bottom: 0px;
    padding-left: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 1px 2px 5px 1px;

}

.platforms{
    background-color: #ddd;
    border: solid;
    border-color: aliceblue;
    color: rgb(31, 31, 31);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    box-shadow: 1px 2px 5px 1px;
    
}

.platforms:hover{
    background-color: rgb(110, 110, 235);
}

.platforms:active{
    background-color: rgb(37, 69, 253);
    
}


#title-container{
    display: flex;
    align-items: center;
    width:100%;
}


#title-container h1{
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 50px;
}



.nav_btn{
    cursor: pointer;
    color: #393f4d;
    font-weight: bolder;
    background-color: #feda6a;
    padding: 5px 10px;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    
}

.nav_btn:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.253);
}

.goal-input-container{
    width:100%;
    display: grid;
}

#options-container{
    display: none;
    flex-direction: column;
}


.options-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    transition: 1s;
}

.category{
    background-color: rgb(49, 167, 106);
    padding: 15px;
    border-radius:20px;
    width:100%;
    
}

#button-container{
    display:inline-block;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 10px;
    background-color: aliceblue;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    padding:0px;
    margin: 5px;
    cursor: pointer;

}

.button-group{
    display:inline-flex;
    flex-direction: column;
    width: 95%;
}

.widget-container{
    display: flex;
}

.user-goal-input{
    position: absolute;
    width: 701px;
    height: 235px;
    left: 151px;
    top: 243px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

#user_stats {
    display: flex;
    width: 100%;
    height: auto;
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 15px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#user_goals{
    margin-right: auto;
}

#user_charts{
    margin-left: auto;
}

.widget{
    position: flex;
    background-color: white;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    width: 250px;
    height: 250px;
    bottom: 8px;
    padding: .5rem;
}

#test_widget {
    width: 100%;
    flex: 1;
    display: flex;
    gap: 1rem;
    flex-direction: row;
}

.submit-container{
    justify-content: center;
    text-align: center;
}

#submit{
    justify-content: center;
    background-color: #ddd;
    border: solid;
    border-color: aliceblue;
    color: rgb(31, 31, 31);
    font-weight: bolder;
    padding-top: 0px;
    padding-right: 4px;
    padding-bottom: 0px;
    padding-left: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 1px 2px 5px 1px;
}

.modal-content{
    border-radius: 16px;
    color:white;
    background-color: rgb(28, 93, 93);
    padding: 2rem;

}


.hide{
    display: none;
}


#container {
    max-width: 400px;
    margin: 0 auto;
}

.highcharts-figure,
.highcharts-data-table table {
    min-width: 380px;
    max-width: 600px;
    margin: 0 auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}