* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;;
}


body{
    background-color: rgb(190, 188, 187)
}

main {
    display: flex;
}

.enter-username-container{
    display:flex;
    justify-content: center;
    align-items: center;  
    padding: 30px;
}


.title-container{
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 5px;  
}

.platforms{
    background-color: #ddd;
    border: solid;
    border-color: aliceblue;
    color: rgb(31, 31, 31);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    box-shadow: 1px 2px 5px 1px;
    
}

#title-container{
    display: flex;
    padding: 20px;
    width:50%;
}
#title{
    position:absolute;
    width: 672px;
    height: 77px;
    left: 48px;
    top: 31px;
    font-style:normal;
    text-decoration: underline;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
}

.goal-input-container{
    width:100%;
    display: grid;
}

.options-container{
    display: flex;
    flex-direction: column;
    width: 150px;
    margin: 1rem;

}

#button-container{
    display:flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 10px;
    
    
}

button:hover{
    background-color: rgb(110, 110, 235)
}

button.active{
    background-color: rgb(37, 69, 253);
    
}

.user-goal-input{
    position: absolute;
    width: 701px;
    height: 235px;
    left: 151px;
    top: 243px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

.widget-contianer{
    display: flex;
    flex: 1;
    flex-direction: row;
    margin: 1rem;

}

.widget{
    background-color: white;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    width: 250px;
    height: 250px;
    bottom: 8px;
    padding: .5rem;
}

#test_widget {
    width: 100%;
    flex: 1;
    display: flex;
    gap: 1rem;
    flex-direction: row;
}